/** ADD YOUR AWESOME CODES HERE **/
html {
    scroll-behavior: smooth;
}

.nav-link.active {
    color: #eea412 !important;
}

.study-program {
    color: #000000 !important;
    padding: 6px;
}

.study-program:hover {
    background-color: #eea412;
    color: white;
}