/** ADD YOUR AWESOME CODES HERE **/
html {
    scroll-behavior: smooth;
}

/* Scrollbar Style */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: #FA8E2C;
}

/* Navbar */
.nav-link.active {
    color: #FA8E2C !important;
}

/* Vision and Mission */
.vision-mission-icon {
    font-size: 50px;
}

/* Facility */
.facility-icon {
    font-size: 50px;
}

/* Information */
.study-program {
    color: #000000 !important;
    padding: 6px;
}